body {
  background: linear-gradient(top, #fff, #000);
  -webkit-background: linear-gradient(top, #fff, #000);
  -moz-background: linear-gradient(top, #fff, #000);
  color: #be2525;
  position: fixed;
  top: 0;
  left: 0;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  top: 20px;
  left: 2%;
  border: solid 1px #be2525;
  margin-left: 81rem;
  font-family: futura;
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  body {
    color: #be2525;
  }
}
@media only screen and (max-width: 1800px) {
  body {
    color: #475cd1;
  }
}
body main {
  background: rgba(71,92,209,0.9);
  background: #8c8c8c;
  background: #a3ade8;
  background: #232e68;
  background: #b8a32e;
  background: #d1bc47;
  background: #6a74af;
  margin-top: 10px;
  margin-top: 5px;
  margin-top: 5%;
  margin-top: 4.2px;
  margin-left: 81rem;
  margin: 10px 100px 20px 30px;
  color: #475cd1;
  border: 1px solid #475cd1;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  zoom: 1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  margin-top: 12px;
  margin-bottom: 12px;
}
body main:before,
body main:after {
  content: "";
  display: table;
}
body main:after {
  clear: both;
}
body main a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  text-shadow: -1px -1px 0 #475cd1, 1px -1px 0 #475cd1, -1px 1px 0 #475cd1, 1px 1px 0 #475cd1;
}
