@import 'styl/*'


body
    background blue
    color red
    
    .main
        width boxWidth
        height boxHeight
        background complement(blue, 50%)
        color blue
        border solid 1px @color
        border-radius 20px
        cf()
        